# Module 1: Librairies Python pour la Data Science

* Partie 1.1: Numpy [[Notebook]](./1_1_numpy.ipynb)
* **Partie 2.2: Pandas** [[Notebook]](./1_2_pandas.ipynb)
* Partie 2.3: Matplotlib [[Notebook]](./2_3_matplotlib.ipynb)

# Partie 1.2: Prise en main de Pandas
Pandas est une libraire <i>Open Source</i> sous licence BSD. Il s'agit d'une librairie de manipulaion et d'analyse de données en python. Elle est la populaire

## Importer Pandas
Pandas n'est pas une librairie native en Python, il faut l'installer au préalable.
Si vous ne l'avez pas encore installée avez pas
Pour importer Pandas if suffit de faire ceci ```import pandas``` mais il est plus courant de faire ceci ```import pandas as pd```

In [1]:
import pandas as pd

## pandas.Series
Les limites trouvent leurs limites lorsqu'il s'agit de faire des analyses statistiques, il est certes possible d'avoir les minimum et maximun mais il n'est pas possible de connaitre la moyenne par exemple
L'objet pandas.Series nous permet de nous affranchir de ces limites, il est donc possible de calculer les indicateurs statistiques sur les données à svaoir la moyenne, la variance entre autres.

In [41]:
names = ["Esso", "Lendjina", "Yemi", "Adboul", "Tracy", "Adjo", "Yacuba", "Degnon"]
countries = ["Togo", "Haïti", "Nigeria", "Burkina", "Ivory Cost", "Togo", "Niger", "Benin"]
sexes = ['M', 'F', 'M', 'M', 'F', 'F', 'F', 'F']
ages = [22, 18, 20,19, 31, 23, 26, 17]
heights = [1.73, 1.43, 1.52, 1.82, 1.45, 1.61, 1.90, 1.52]

### Statistique descriptive
La statistique descriptive est une branche de la Statistique, elle <br>
Nous pouvons calculer des indicateurs sur ces données, ce qui n'est pas possible avec les listes natives en python

In [24]:
pd_ages = pd.Series(ages) # convert list into a pandas.Series

In [39]:
mean = pd_ages.mean() # Moyenne
median = pd_ages.median() # Médiane
variance = pd_ages.var(ddof=0) # Variancce
no_biais_variance = pd_ages.var() # Variance non biasée
pd_ages.std(ddof=0) # Écart-tye
pd_ages.std() # Écart-tye non biaisé

4.527692569068709

In [26]:
pd_heights = pd.Series(heights)

## pandas.DataFrame
Les limites trouvent leurs limites lorsqu'il s'agit de faire des analyses statistiques, il est certes possible d'avoir les minimum et maximun mais il n'est pas possible de connaitre la moyenne par exemple
L'objet pandas.Series nous permet de nous affranchir de ces limites, il est donc possible de calculer les indicateurs statistiques sur les données à svaoir la moyenne, la variance entre autres.

In [42]:
data = pd.DataFrame({"name": names, "country": countries, "sex": sexes, "age": ages, "height": heights})
data # show the table

       name     country sex  age  height
0      Esso        Togo   M   22    1.73
1  Lendjina       Haïti   F   18    1.43
2      Yemi     Nigeria   M   20    1.52
3    Adboul     Burkina   M   19    1.82
4     Tracy  Ivory Cost   F   31    1.45
5      Adjo        Togo   F   23    1.61
6    Yacuba       Niger   F   26    1.90
7    Degnon       Benin   F   17    1.52

#### Afficher les 4 premières lignes du tableau

In [47]:
data.head(n=4)

       name  country sex  age  height
0      Esso     Togo   M   22    1.73
1  Lendjina    Haïti   F   18    1.43
2      Yemi  Nigeria   M   20    1.52
3    Adboul  Burkina   M   19    1.82

#### Afficher les 4 dernières lignes du tableau

In [49]:
data.tail(n=4)

     name     country sex  age  height
4   Tracy  Ivory Cost   F   31    1.45
5    Adjo        Togo   F   23    1.61
6  Yacuba       Niger   F   26    1.90
7  Degnon       Benin   F   17    1.52

#### Afficher 4 lignes du tableau choisies au hazard

In [50]:
data.sample(n=4)

       name  country sex  age  height
6    Yacuba    Niger   F   26    1.90
7    Degnon    Benin   F   17    1.52
3    Adboul  Burkina   M   19    1.82
1  Lendjina    Haïti   F   18    1.43

## Importer des données
En général, les données sur lesquelles l'on souhaite travailler sont stockées dans un fichier externe, la libraire Pandas permet d'importer des données depuis un fichier externe. Plusieurs extensions de fichiers sont prises en charge par Pandas, à savoir ```.csv``` le plus utilisé, ```.excel```, ```.pickle```

In [2]:
dt = pd.read_csv('datasets/iris.csv')

## Exporter des données

In [ ]:
dt.to_csv("backups/")

## Visualisation

## Exercices
* kk
* ll
* mm